<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reactive Web App</title>
    @Styles.Render("~/Content/css")
</head>
<body>
@Html.Partial("Navigation")
<div class="container">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/script")
<script src="~/s/hubs"></script>
<script src="~/Client/app.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>